/* default language highlight */
.imp {font-weight: bold; color: red}
.st_h {color: #56DB3A}
.kw1 {color: #FF8400}
.kw2 {color: #CC7833}
.kw3 {color: #E2392D}
.kw4 {color: #1299DA}
.sy0 {color: #E0882F}
.co0 {color: #BD48B3}
.re0, .re1 {color: #6D9CBE}
.co1 {color: #BC9458; font-style: italic}
.co2 {color: #BD48B3; font-style: italic}
.co4 {color: #ccc; font-style: italic}
.coMULTI {color: #BD48B3; font-style: italic}
.es0 {color: #ddd}
.br0 {color: #fff}
.st0 {color: #99FF00}
.nu0 {color: #1299DA}
.me1 {color: #FFFFFF}
.me2 {color: #FFFFFF}
.re0 {color: #6D9CBE}

.php .imp {font-weight: bold; color: red}
.php .st_h {color: #56DB3A}
.php .kw1 {color: #FF8400}
.php .kw2 {color: #CC7833}
.php .kw3 {color: #E2392D}
.php .kw4 {color: #1299DA}
.php .sy0 {color: #E0882F}
.php .co1 {color: #BC9458; font-style: italic}
.php .co2 {color: #BD48B3; font-style: italic}
.php .co4 {color: #ccc; font-style: italic}
.php .coMULTI {color: #BD48B3; font-style: italic}
.php .es0 {color: #ddd}
.php .br0 {color: #fff}
.php .st0 {color: #99FF00}
.php .nu0 {color: #1299DA}
.php .me1 {color: #FFFFFF}
.php .me2 {color: #FFFFFF}
.php .re0 {color: #6D9CBE}
.php a {text-decoration: none}

.xml .imp {font-weight: bold; color: red}
.xml .coMULTI {color: #BD48B3; font-style: italic}
.xml .sc-1 {color: #B729D9}
.xml .es0 {color: #0000aa; font-weight: bold}
.xml .br0 {color: #66cc66}
.xml .st0 {color: #99FF00}
.xml .nu0 {color: #cc66cc}
.xml .sc0 {color: #00bbdd}
.xml .sc1 {color: #ddbb00}
.xml .sc2 {color: #339933}
.xml .sc3 {color: #fff}
.xml .re0 {color: #FFFFFF}
.xml .re1 {color: #FFFFFF}
.xml .re2 {color: #FFFFFF}

.css .imp {font-weight: bold; color: red}
.css .kw1 {color: #fff}
.css .kw2 {color: #993333}
.css .co1 {color: #a1a100}
.css .coMULTI {color: #808080; font-style: italic}
.css .es0 {color: #000099; font-weight: bold}
.css .br0 {color: #66cc66}
.css .st0 {color: #ff0000}
.css .nu0 {color: #cc66cc}
.css .re0 {color: #cc00cc}
.css .re1 {color: #6666ff}
.css .re2 {color: #3333ff}

.javascript .imp {font-weight: bold; color: red}
.javascript .kw1 {color: #FF8400}
.javascript .kw2 {color: #FFCC66}
.javascript .kw3 {color: #07DFFC}
.javascript .co1 {color: #BD48B3; font-style: italic}
.javascript .coMULTI {color: #BD48B3; font-style: italic}
.javascript .es0 {color: #000099}
.javascript .br0 {color: #fff}
.javascript .st0 {color: #99FF00}
.javascript .nu0 {color: #66CC66}
.javascript .me1 {color: #FFCC66}
.javascript .re0 {color: #fff}

.c .imp {font-weight: bold; color: red}
.c .st_h {color: #56DB3A}
.c .kw1 {color: #FF8400}
.c .kw2 {color: #CC7833}
.c .kw3 {color: #E2392D}
.c .kw4 {color: #1299DA}
.c .sy0 {color: #E0882F}
.c .co1 {color: #BC9458; font-style: italic}
.c .co2 {color: #BD48B3; font-style: italic}
.c .co4 {color: #ccc; font-style: italic}
.c .coMULTI {color: #BD48B3; font-style: italic}
.c .es0 {color: #ddd}
.c .br0 {color: #fff}
.c .st0 {color: #99FF00}
.c .nu0 {color: #1299DA}
.c .me1 {color: #FFFFFF}
.c .me2 {color: #FFFFFF}
.c .re0 {color: #6D9CBE}
.c a {text-decoration: none}
