<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.7.0.167456</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1118, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-10-09 10:26:51 +0000</string>
	<key>Creator</key>
	<string>Tony.z</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{211.74087100208067, 410.00000029628347}, {105.34334564208984, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>62</integer>
			</dict>
			<key>ID</key>
			<integer>29</integer>
			<key>Rotation</key>
			<real>282.107666015625</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.25288817286491394</real>
				<key>width</key>
				<real>14.833888053894043</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.81593</string>
						<key>r</key>
						<string>0.555535</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.874372</string>
						<key>g</key>
						<string>0.637537</string>
						<key>r</key>
						<string>0.304356</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.794995</string>
						<key>g</key>
						<string>0.459724</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>60</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{282, 114}, {300, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>70</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 SimHei;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 PHP\uc0\u20013 \u20989 \u25968 \u19982 \u26041 \u27861 \u30340 \u27880 \u20876 \u20301 \u32622 }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{549.49882404709581, 369.9599176601983}, {187.00262451171875, 15}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>71</integer>
			<key>Rotation</key>
			<real>270.306396484375</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.32189163565635681</real>
				<key>width</key>
				<real>14.973806381225586</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.1</string>
						<key>b</key>
						<string>0.0577651</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0.818126</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.70634919404983521</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{458.99881805036898, 271.72106371461757}, {76.002357482910156, 15}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>61</integer>
			</dict>
			<key>ID</key>
			<integer>66</integer>
			<key>Rotation</key>
			<real>180.45233154296875</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.32189163565635681</real>
				<key>width</key>
				<real>14.973806381225586</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.1</string>
						<key>b</key>
						<string>0.0577651</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0.818126</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.70634919404983521</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>14</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{451, 471}, {337, 64}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>archive</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVy
					WCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNfEA9O
					U0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290
					gAGlCwwVGR5VJG51bGzUDQ4PEBESExRfEBJO
					U0N1c3RvbUNvbG9yU3BhY2VXTlNXaGl0ZVxO
					U0NvbG9yU3BhY2VWJGNsYXNzgAJCMAAQA4AE
					0hYQFxhUTlNJRBACgAPSGhscD1gkY2xhc3Nl
					c1okY2xhc3NuYW1log8dWE5TT2JqZWN00hob
					HyCiIB1XTlNDb2xvcggRGyQpMkRJTFFTWV9o
					fYWSmZueoKKnrK6wtb7JzNXa3QAAAAAAAAEB
					AAAAAAAAACEAAAAAAAAAAAAAAAAAAADl
					</data>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Verdana</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>65</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.824887</string>
						<key>g</key>
						<string>0.824713</string>
						<key>r</key>
						<string>0.885103</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKxTmlrnms5Uob3Bjb2RlX2FycmF5KYaEAmlJ
				AQKShISEDE5TRGljdGlvbmFyeQCUhAFpA5KElpYHTlND
				b2xvcoaShISEB05TQ29sb3IAlIQBYwOEAmZmAAGGkoSW
				lhBOU1BhcmFncmFwaFN0eWxlhpKEhIQQTlNQYXJhZ3Jh
				cGhTdHlsZQCUhARDQ0BTAgCEhIQHTlNBcnJheQCUmQyS
				hISECU5TVGV4dFRhYgCUhAJDZgAchpKEoqEAOIaShKKh
				AFSGkoSioQBwhpKEoqEAgYwAhpKEoqEAgagAhpKEoqEA
				gcQAhpKEoqEAgeAAhpKEoqEAgfwAhpKEoqEAgRgBhpKE
				oqEAgTQBhpKEoqEAgVABhoaBAAiEBFsxZl2DzcxMPYaS
				hJaWBk5TRm9udIaShISEBk5TRm9udB6UmSiEBVs0MGNd
				BgAAACAAAAD//lMAVABIAGUAaQB0AGkAUwBDAC0ATABp
				AGcAaAB0AIQBZhKbAJsBmwCbAIaGlwIOkoSYmQOSmZKa
				kpyShJ6eAgCEoJkMkqGSo5KkkqWSppKnkqiSqZKqkquS
				rJKthoEACKKDzcxMPYaSrpKEsJkYhAVbMjRjXQYAAAAQ
				AAAA//5WAGUAcgBkAGEAbgBhAKUSmwCbAZsAmwCGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;\f1\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 \'b7\'bd\'b7\'a8
\f1 (opcode_array)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{554.5, 214}, {219, 133}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>64</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Monaco;}
{\colortbl;\red255\green255\blue255;\red218\green0\blue10;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf0 \{\
...\
\
HashTable *\cf2 function_table\cf0 ;\
...\
\
\}}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{542, 162}, {152, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Monaco</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>63</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Monaco;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs28 \cf0 active_class_entry}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{78, 471}, {337, 64}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>archive</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVy
					WCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNfEA9O
					U0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290
					gAGlCwwVGR5VJG51bGzUDQ4PEBESExRfEBJO
					U0N1c3RvbUNvbG9yU3BhY2VXTlNXaGl0ZVxO
					U0NvbG9yU3BhY2VWJGNsYXNzgAJCMAAQA4AE
					0hYQFxhUTlNJRBACgAPSGhscD1gkY2xhc3Nl
					c1okY2xhc3NuYW1log8dWE5TT2JqZWN00hob
					HyCiIB1XTlNDb2xvcggRGyQpMkRJTFFTWV9o
					fYWSmZueoKKnrK6wtb7JzNXa3QAAAAAAAAEB
					AAAAAAAAACEAAAAAAAAAAAAAAAAAAADl
					</data>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Verdana</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>60</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.860701</string>
						<key>g</key>
						<string>0.688409</string>
						<key>r</key>
						<string>0.572741</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.62847220897674561</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKxjlh73mlbDvvIhvcGNvZGVfYXJyYXnvvImG
				hAJpSQEQkoSEhAxOU0RpY3Rpb25hcnkAlIQBaQOShJaW
				B05TQ29sb3KGkoSEhAdOU0NvbG9yAJSEAWMDhAJmZgAB
				hpKElpYQTlNQYXJhZ3JhcGhTdHlsZYaShISEEE5TUGFy
				YWdyYXBoU3R5bGUAlIQEQ0NAUwIAhISEB05TQXJyYXkA
				lJkMkoSEhAlOU1RleHRUYWIAlIQCQ2YAHIaShKKhADiG
				koSioQBUhpKEoqEAcIaShKKhAIGMAIaShKKhAIGoAIaS
				hKKhAIHEAIaShKKhAIHgAIaShKKhAIH8AIaShKKhAIEY
				AYaShKKhAIE0AYaShKKhAIFQAYaGgQAIhARbMWZdg83M
				TD2GkoSWlgZOU0ZvbnSGkoSEhAZOU0ZvbnQelJkohAVb
				NDBjXQYAAAAgAAAA//5TAFQASABlAGkAdABpAFMAQwAt
				AEwAaQBnAGgAdACEAWYSmwCbAZsAmwCGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 \'ba\'af\'ca\'fd\'a3\'a8opcode_array\'a3\'a9}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{535, 195}, {248, 171}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>archive</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVy
					WCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNfEA9O
					U0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290
					gAGlCwwVGR5VJG51bGzUDQ4PEBESExRfEBJO
					U0N1c3RvbUNvbG9yU3BhY2VXTlNXaGl0ZVxO
					U0NvbG9yU3BhY2VWJGNsYXNzgAJCMAAQA4AE
					0hYQFxhUTlNJRBACgAPSGhscD1gkY2xhc3Nl
					c1okY2xhc3NuYW1log8dWE5TT2JqZWN00hob
					HyCiIB1XTlNDb2xvcggRGyQpMkRJTFFTWV9o
					fYWSmZueoKKnrK6wtb7JzNXa3QAAAAAAAAEB
					AAAAAAAAACEAAAAAAAAAAAAAAAAAAADl
					</data>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Verdana</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>14</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.824887</string>
						<key>g</key>
						<string>0.824713</string>
						<key>r</key>
						<string>0.885103</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{104, 211}, {311, 209}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>59</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Monaco;}
{\colortbl;\red255\green255\blue255;\red200\green2\blue0;\red218\green0\blue10;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf0 \{\
...\
\
zend_class_entry *\cf2 active_class_entry\cf0 ;\
\
...\
\
HashTable *\cf3 function_table\cf0 ;\
...\
\
\}}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{85, 162}, {169, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>58</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Monaco;}
{\colortbl;\red255\green255\blue255;\red255\green0\blue6;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs28 \cf0 CG(\cf2 compiler_globals\cf0 )}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{99, 261}, {360, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>archive</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVy
					WCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNfEA9O
					U0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290
					gAGlCwwVGR5VJG51bGzUDQ4PEBESExRfEBJO
					U0N1c3RvbUNvbG9yU3BhY2VXTlNXaGl0ZVxO
					U0NvbG9yU3BhY2VWJGNsYXNzgAJCMAAQA4AE
					0hYQFxhUTlNJRBACgAPSGhscD1gkY2xhc3Nl
					c1okY2xhc3NuYW1log8dWE5TT2JqZWN00hob
					HyCiIB1XTlNDb2xvcggRGyQpMkRJTFFTWV9o
					fYWSmZueoKKnrK6wtb7JzNXa3QAAAAAAAAEB
					AAAAAAAAACEAAAAAAAAAAAAAAAAAAADl
					</data>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Verdana</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>61</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.82494</string>
						<key>g</key>
						<string>0.824794</string>
						<key>r</key>
						<string>0.880481</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.62847220897674561</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{99, 335}, {360, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>archive</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVy
					WCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNfEA9O
					U0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290
					gAGlCwwVGR5VJG51bGzUDQ4PEBESExRfEBJO
					U0N1c3RvbUNvbG9yU3BhY2VXTlNXaGl0ZVxO
					U0NvbG9yU3BhY2VWJGNsYXNzgAJCMAAQA4AE
					0hYQFxhUTlNJRBACgAPSGhscD1gkY2xhc3Nl
					c1okY2xhc3NuYW1log8dWE5TT2JqZWN00hob
					HyCiIB1XTlNDb2xvcggRGyQpMkRJTFFTWV9o
					fYWSmZueoKKnrK6wtb7JzNXa3QAAAAAAAAEB
					AAAAAAAAACEAAAAAAAAAAAAAAAAAAADl
					</data>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Verdana</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>62</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.860701</string>
						<key>g</key>
						<string>0.688409</string>
						<key>r</key>
						<string>0.572741</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.62847220897674561</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{78, 195}, {442, 248}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Pattern</key>
					<integer>22</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{540, 392}, {248, 42.595419847328245}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>69</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Opacity</key>
			<real>0.54691445827484131</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Opacity</key>
					<real>0.54691445827484131</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{49, 99}, {780, 468}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>74</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.933516</string>
						<key>r</key>
						<string>0.942601</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>图层 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-10-09 10:36:56 +0000</string>
	<key>Modifier</key>
	<string>Tony.z</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>版面 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{2014, 61}, {1049, 922}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {914, 783}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>版面 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
