
#book_header {
	color: #fff;
	margin-top: 20px;
}

#book_header p {
	color: #d8d8d8;
	margin-top: 0px;
	font-size: 15px;
	text-shadow: #000 0 2px 2px;
}

#book_header h1 {
	margin: 0;
}

#book_header h1 a {
	color: #dadada;
	text-decoration: none;
	text-shadow: #000 0 2px 2px;
}

#book_main {
	border: 1px solid #555;
	background: #efefef;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	-o-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	box-shadow: rgba(0,0,0,1) 0px 0px 5px;

	background: url(../images/background-dark.png);
}

#book_index {
	font-size: 1.2em;
}

#book_index ul li a {
	color: #00233a;
	text-decoration: none;
}

#book_index ul li a:hover {
	color: #003659;
	text-decoration: underline;
}

#book_content {
	float: left;
	width: 790px;
	background: rgba(255, 255, 255, 0.4);
	font-size: 1.2em;
}

#book_content .inner-containner {
	border-right: 1px dashed rgba(0, 0, 0, 0.1);
}

#book_content p {
	text-indent: 2em;
}

#book_content hr {
	border: 1px dashed #ccc;
}

#book_index ul li p {
	margin-bottom: 0;
}

#book_sidebar {
	float: right;
	width: 200px;
}

#book_content h1 {
	color: #006ea3;
	margin: 10px 0;
	padding-bottom: 10px;
	font-size: 1.5em;
	border-bottom: 1px solid #aaa;
}

#book_sidebar .inner-containner {
	padding: 0px;
	padding-right: 10px;
}

#book_sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 20px;
}

#book_sidebar ul ul {
	list-style: circle;
	margin-left: 15px;
}

#book_sidebar ul li a {
	color: #0076af;
	font-weight: bold;
	font-size: 1.1em;
}

#book_sidebar ul ul li a {
	color: #007eba;
	font-size: 1em;
	font-weight: normal;
}

#book_sidebar ul ul {
	margin-bottom: 10px;
}

#book_sidebar ul a {
	text-decoration: none;
	display: block;
}

#book_sidebar ul a:hover {
	text-decoration: underline;

}

#book_sidebar ul ul {
	padding-left: 10px;
	list-style: circle;
}

#book_sidebar ul ul li.current_page {
	list-style: disc;
}

#book_sidebar .current_page a {
	text-decoration: underline;
}

.inner-containner {
	padding: 20px;
}


/* Book content style */
#book_content pre {
	padding: 10px;
	background-color: #333;
	color: #fff;
	font: 13px "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Courier New", monospace;
	overflow: auto;
	/* IE pre won't auto fit 100%. Hack it */
	_width: 730px;
}

#book_content blockquote {
	margin: 10px 0;
	padding-left: 60px;
	padding-right: 20px;
	background: #dfdfdf url(../images/quote.png) 15px 10px no-repeat;
	border: 1px solid #aaa;
	border-left: 0;
	border-right: 0;
}

#book_content blockquote p {
	text-indent: 0;
}

#book_content blockquote.note {
	background-image: url(../images/note.png);
}

#book_content blockquote.question {
	background-image: url(../images/question.png);
}


#book_content table {
	border-collapse: collapse;
}

#book_content th {
	background-color: #dcdcdc;
}

#book_content th, #book_content td {
	padding: 5px;
	border: 1px solid #aaa;
}

/* end book content style */

#book_page_navor {
	border-top: 1px solid #999;
	padding: 8px 0;
}

#prev_page_link {
	float: left;
}

#next_page_link {
	float: right;
}
