
#book_header {
	color: #fff;
	margin-top: 20px;
}

#book_header p {
	color: #d8d8d8;
	margin-top: 0px;
	font-size: 15px;
	text-shadow: #000 0 2px 2px;
}

#book_header h1 {
	margin: 0;
}

#book_header h1 a {
	color: #dadada;
	text-decoration: none;
	text-shadow: #000 0 2px 2px;
}

#book_main {
	border: 1px solid #555;
	background: #efefef;
	margin-bottom: 20px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	-o-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	box-shadow: rgba(0,0,0,1) 0px 0px 5px;

	background: url(../images/background-dark.png);
}

#book_index {
	font-size: 1.2em;
}

#book_index ul li a {
	color: #00233a;
	text-decoration: none;
}

#book_index ul li a:hover {
	color: #003659;
	text-decoration: underline;
}

#book_content {
	float: left;
	width: 790px;
	border-right: 1px dashed rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.4);
}

#book_index ul li p {
	margin-bottom: 0;
}

#book_sidebar {
	float: right;
	width: 200px;
}

.inner-containner {
	padding: 20px;
}


/* Book content style */
#book_content pre {
	padding: 10px;
	background-color: #333;
	color: #fff;
	font: 13px "Bitstream Vera Sans Mono",monospace;
	overflow: scroll;
}
