body {
	background-color: #fff;
	font: 12px Helvetica, Arial, sans-serif;
	margin: 0;
	background: url(../images/bg.png) left top repeat-x;
	color: #222;
	line-height: 20px;
	text-align: center;
}

a {
	color: #1299DA;
	text-decoration: underline;
}


#wrapper, #inner-header, .body-wrapper {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

#header {
	background-color: #1a1a1a;
	-webkit-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0,1) -5px 0px 5px; /* Firefox will expand the width spread width */
	-o-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	border-bottom: 1px solid #999;
}

#main_logo {
	text-align: center;
	padding: 50px 0;
	padding-bottom: 20px;
}

#get-it {
	padding: 10px;
	padding-right: 60px;
	text-align: right;
}

#get-it a {
	display: inline-block;
	height: 51px;
	width: 135px;
	background-image: url(../images/get-it-button.png);
}

#get-it a span {
	display:none;
	text-indent: -9999px;
}

#get-it #get-it-sep {
	display: inline-block;
	width: 30px;
	height: 51px;
	background: url(../images/get-it-button.png) center center no-repeat;
}

#get-it .read {
	background-position: left center;
}

#get-it .downloads {
	background-position: right center;
}

#get-started {
	background: url(../images/main-sep.png) center top no-repeat;
	padding: 40px;
}


#search-form {
	display: inline;
}

#search-submit {
	display: none;
}

#search-input {
	padding: 3px;
	width: 120px;
	border: 0;
	background-color: #999;
	margin-left: 10px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;

	border: 1px solid #bfbfbf;
	border-top: 0;
	border-left: 0;
}

#search-input:hover {
	background-color: #aaa;
}

#search-input:focus {
	outline: none;
	background-color: #ddd;
}

#common-sidebar {
	float: left;
}

#page-body {
	float: left;
}

#page-body .gsc-control {
	width: 600px;
}

#footer {
	color: #666;
	margin-top: 30px;
	border-top: 1px solid #dfdfdf;
}

#footer .inner-wrapper {
	padding: 20px;
	border-top: 1px solid #b7b7b7;
}

#footer a {
	color: #777;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#inner-header ul{
	margin: 0;
	padding: 4px 0;
}

#inner-header ul li {
	display: inline;
}

#inner-header ul li a {
	margin-left: 10px;
	text-decoration: none;
	color: #aaa;
	font-size: 13px;
	text-shadow: 0 0 10px #336699;
	text-shadow: 0 0 10px rgba(51,102,153,0.8);
	text-transform: uppercase;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
}

#inner-header ul li a:hover {
	color: #fff;
}

#inner-header {
	text-align: right;
	font-size: 2em;
	font-weight: bold;
	background: url(../images/logo.png) left center no-repeat;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}


#feed_subscribe {
	margin-bottom: 10px;
	border-bottom: 1px #ccc solid;
	padding: 5px 5px 0;
}

#feed_subscribe a {
	display: block;
	background: url("../images/feed.png") left center no-repeat;
	padding: 10px;
	padding-left: 45px;
	font-size: 1.1em;
	text-decoration: none;
}


#home #home-link {
	color: #ddd;
}

#book #book-link {
	color: #ddd;
}

#common-main {
	background: url(../images/main-sep.png) center top no-repeat;
	margin-top: 30px;
	padding-top: 5px;
}

#common-main .clearfix {
	padding-top: 25px;
	background: url(../images/v-main-sep.png) 200px bottom no-repeat;
}

#common-sidebar {
	font-size: 1.6em;
	line-height: 1.8em;
	width: 202px;
	margin-right: 30px;
}

#common-sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

#common-sidebar a {
	display: block;
	text-decoration: none;
	padding-right: 20px;
}

#common-sidebar a span {
	color: #aaa;
	margin-right: 10px;
}

#common-sidebar a:hover {
}

#common-sidebar a:hover span {
	color: green;
}

#page-body {
	width: 760px;
}

#page-body h1 {
	margin-top: 0;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}


/* Search related styles */
.gsc-input input.gsc-input {
	font-size: 1.1em;
	height: 35px;
}

.gsc-search-button input.gsc-search-button {
	font-size: 1.1em;
	height: 35px;
}

table.gsc-branding {
	display: none;
}

.gsc-resultsRoot {
	margin-top: 20px;
}

h1,h2,h3,h4 {
	font-weight: normal;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
}

/* tmp */
#start_reading {
	width: 60%;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 3em;
}

#start_reading a {
	display: block;
	padding: 50px;
	color: darkorange;
}

#copyright {
	width: 48%;
}


.fl {
	float: left;
}

.fr {
	float: right;
}

/*----clear fix----*/
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {
display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
display: block;
}
/* End hide from IE Mac */
/*------end of clearfix--------*/
