body {
	background-color: #636260;
	font: 12px Helvetica, Arial, sans-serif;
	margin: 0;
	background: url(../images/bg.png);
	color: #222;
	line-height: 20px;
	text-align: center;
}

a {
	color: #1299DA;
	text-decoration: underline;
}


#wrapper, #inner-header {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

#header {
	background-color: #1a1a1a;
	-webkit-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0,1) -5px 0px 5px; /* Firefox will expand the width spread width */
	-o-box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	box-shadow: rgba(0,0,0,1) 0px 0px 5px;
	border-bottom: 1px solid #333;
}

#footer {
	margin: 10px 0;
}

#copyright {
	color: #111;
	text-shadow: 0 1px 1px #ddd;
	text-shadow: 0 1px 1px rgba(120,120,120,0.8);
}

#inner-header ul{
	margin: 0;
	padding: 4px 0;
}

#inner-header ul li {
	display: inline;
}

#inner-header ul li a {
	margin-left: 10px;
	text-decoration: none;
	color: #aaa;
	font-size: 13px;
	text-shadow: 0 0 10px #336699;
	text-shadow: 0 0 10px rgba(51,102,153,0.8);
	text-transform: uppercase;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
}

#inner-header ul li a:hover {
	color: #fff;
}

#inner-header {
	text-align: right;
	font-size: 2em;
	font-weight: bold;
	background: url(../images/logo.png) left center no-repeat;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}


#feed_subscribe {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px #ccc solid;
	padding: 5px;
}

#feed_subscribe a {
	display: block;
	background: url("../images/feed.png") left center no-repeat;
	padding-left: 40px;
	font-size: 1.1em;
	text-decoration: none;
}

h1,h2,h3,h4 {
	font-weight: normal;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
}

/* tmp */
#start_reading {
	width: 60%;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 3em;
}

#start_reading a {
	display: block;
	padding: 50px;
	color: darkorange;
}

/*----clear fix----*/
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {
display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
display: block;
}
/* End hide from IE Mac */
/*------end of clearfix--------*/
