body {
	color: #222;
	margin: 0;
	padding: 0;
	font: 14px Helvetica, Arial, sans-serif;
	line-height: 1.7em;
}

a {
	color: #1299DA;
}

.page {
	width: 100%;
}

.pdf {
	padding: 60px;
	margin-top: 5em;
}

#portable-header {
	background-color: #dedede;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	text-align: right;
}

h1 {
	font-size: 1.6em;
	color: #006ea3;
	margin-top: 5em;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}

h1 {
	margin-top: 15em;
	color: #006ea3;
	border-bottom:  1px solid #999;
}

pre {
	margin: 10px 0;
	font-family: 13px "Bitstream Vera Sans Mono","DejaVu Sans Mono","Courier New",monospace;
	white-space: pre-wrap;
	word-wrap:break-word;
	border: 1px solid #ddd;
	border-width: 1px 0;
	background-color: #efefef;
	padding: 10px;
	line-height: 1.2em;
}

p {
	text-indent: 2em;
}

#portable-header a {
	text-decoration: none;
	color: #666;
}

#protocal-header a span {
	color: #999;
	margin-left: 5px;
}

.page-break {
	page-break-before: always;
}
